body {
    color: whitesmoke;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(/img/balcony2.jpeg);
    background-size: cover;
    background-position: center top; 
}

.main-content {
    flex-grow: 1;
}

footer {
    color: blue;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
    color: #888888
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

#message-1 {
    font-size: 35px;
    color:  whitesmoke
}

#message-2 {
    font-size: 35px;
    color:  whitesmoke  
}

input {
    border: 2px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 2px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;

}

a {
    color: yellow
}